<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet-src.js"></script>
    <script>
        const map = L.map('map').setView([0, 0], 2);
        const satellite = L.marker([0, 0]).addTo(map);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
        var polylinePoints = [];

        fetch("/api/trajectory?norad_id=25544")
            .then(data => data.json())
            .then(data => {
                let lastPoint = null;
                for (const point of data) {
                    if (lastPoint) {
                        if (Math.abs(point.lon - lastPoint.lon) > 180) {
                            L.polyline(polylinePoints).addTo(map);
                            polylinePoints = [];
                        }
                    }
                    polylinePoints.push([point.lat, point.lon]);
                    lastPoint = point;
                }
                L.polyline(polylinePoints).addTo(map);

                satellite.setLatLng([data[0].lat, data[0].lon]);
            });

        setInterval(() => {
            fetch("/api/position?norad_id=25544")
                .then(data => data.json())
                .then(data => {
                    satellite.setLatLng([data.lat, data.lon]);
                });
        }, 1000);
    </script>
</body>
</html>

